<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>EJS Play</h1>
    <ul>
        <%for(let i=0;i<6;i++){ %>
            <li> 
            <%= i%>
            </li>
        <%}%>
    </ul>
    <%if(true){%>
      <h1>True</h1>
    <%}else {%>
      <h1>False</h1>
    <%}%>
</body>

</html>